 <div class="row">
<% if @stories.present? %>
  <% @stories.each do |story| %>
      <div class="col-4">
      <%= render 'stories/story', story: story %>
      </div>
  <% end %>
<% else %>
 <p>物語を創作していきましょう！</p>
<% end %>
  </div>