<%# 画像＋説明表示 %>
<p>StoryShareは物語のテーマなどを投稿してみんなで共有し改善するサイトです。</p>
<%= image_tag 'top.png', class: 'card-img-top sample-image', style: 'width:100%' %>
<p>私たちとあなたのもう一つの世界を作りませんか</p>
<%# トップのみは日出ているタイトルカードはみ出ないようにする %>

<h2>最新の物語</h2>
  <div class="row">
    <div class="col-4">
      <div class="scroll-container">
        <div class="item">
          <% @latest_stories.each do |latest_story| %>
            <% if latest_story.published? %>
              <%= render 'stories/story', story: latest_story %>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>

<h2>人気の物語</h2>
  <div class="row">
    <div class="col-4">
      <div class="scroll-container">
        <div class="item">
          <% @popular_stories.each do |popular_story| %>
            <% if popular_story.published? %>
              <%= render 'stories/story', story: popular_story %>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>


