<p>最新の物語</p>
<div class="scrollable-container overflow-auto">
  <ul>
    <% @latest_stories.each do |latest_story| %>
    <%= render 'stories/story', story: latest_story %>
    <% end %>
  </ul>
</div>

<p>人気の物語</p>
<div>
  <ul class="wrapper">
    <% @popular_stories.each do |popular_story| %>
      <li class="list">
        <%= render 'stories/story', story: popular_story %>
      </li>
    <% end %>
  </ul>
</div>


<%= link_to '設定', '#', class: 'nav-link' %>

