<div class='ms-auto'>
  <% if current_user.bookmark?(story) %>
    <%= render 'stories/unbookmark', { story: story } %>
  <% else %>
    <%= render 'stories/bookmark', { story: story } %>
  <% end %>
</div>