<h1>テーマ決め</h1>
<p><strong>Theme:</strong> <%= @story.theme %></p>
<p><strong>Motif:</strong> <%= @story.motif %></p>
<p><strong>Memo:</strong> <%= @story.memo %></p>
<%= link_to "次へ", sho_world_view_story_path(@story) %>