<h1>世界観</h1>
<p><strong>Place:</strong> <%= @story.place %></p>
<p><strong>Era:</strong> <%= @story.era %></p>
<p><strong>Character:</strong> <%= @story.character %></p>
<%= link_to "次へ", sho_text_story_path(@story) %>