  .footer-buttons a {
    margin: 0 100px; /* リンクの左右に10pxの余白を追加 */
  }
  
  .footer-buttons {
    text-align: right; /* リンクを中央揃えにする */
  }
  .n-circle {
    position: absolute;
    padding-left: 1rem;
    padding-top: 0rem;
    color: #efa04c;
  }

