  .scroll-container {
    width: 300%; /* 親要素の幅を設定 */
    overflow-x: auto; /* 横スクロールを許可 */
    white-space: nowrap; /* 子要素を横に並べる */
    display: flex; /* 横並びにするため */
  }

  .item {
    display: flex; /* 横並びにするため */
    width: 500px; /* 各アイテムの幅を設定 */
    height: 400px; /* 各アイテムの高さを設定 */
    margin-right: 300px; /* アイテム間のスペースを設定 */
  }

  .password-container {
    display: flex; /* 横並びにするための設定 */
    align-items: center; /* 縦方向の中央揃え */
    border-top: 1px solid #000; /* 上の線 */
    border-bottom: 1px solid #000; /* 下の線 */
    padding: 10px 0; /* 上下の余白 */
}

.active {
  border-bottom: 3px solid rgb(69, 48, 255); /* 下に線を入れる */
}
