<nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar">
  <div class="position-sticky pt-3 sidebar-sticky">
    <ul class="nav flex-column">
      <li class="nav-item">
       <%= link_to admin_users_path, "ユーザー管理" %>
      </li>
      <li class="nav-item">
        <%= link_to admin_stories_path, "ストーリー管理" %>
      </li>
    </ul>
  </div>
</nav>